<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Guess(es)</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <p>You have guessed: {{guess}}</p>
</body>
</html>
